.generateInvoice {
    display: flex;

    .generateInvoiceContainer {
        flex: 6;

        .inputContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            flex-direction: column;

            .title {
                h1 {
                    color: rgb(188, 79, 188);
                    font-weight: bold;
                    padding-top: 10px;
                }
            }

            .itemDetailsTable {
                width: 60em;
                padding: 20px;
            }

            .dense-table {

                .headers {
                    font-weight: 700;
                }
            }

            .addButton {
                display: flex;
                justify-content: center;

                .btn {
                    padding: 20px;
                    color: rgb(188, 79, 188);
                }
            }

            .itemSelect {
                display: flex;
                padding: 20px;

                .outline {
                    width: 16em;
                }

                .selectContent {
                    .map-field {
                        width: 10.4em;
                    }
                }

                .removeButton {
                    padding-top: 25px;
                    color: rgb(188, 79, 188);
                }
            }

            .invoiceContent {
                -webkit-box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
                -moz-box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
                box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
                border-radius: 10px;
                width: fit-content;
                padding: 20px;

                .row1,
                .row2,
                .row3,
                .row4 {

                    .outlined {
                        width: 11em;
                    }

                    .outlined-required {
                        width: 12em;
                    }

                    .outlined-required-mid {
                        width: 15em;
                    }

                    .outlined-required-long {
                        width: 25em;
                    }
                }



                .errorMessage {
                    font-size: 10px;
                    color: red;
                }

                .selectContent {
                    width: 100px;

                    .outlined-required {
                        width: 100px;
                    }
                }

                .submit {
                    display: flex;
                    justify-content: center;

                    .btn {
                        padding: 20px;
                        color: rgb(188, 79, 188);
                    }
                }
            }
        }
    }
}