.table{
    .dYXiNx {
            position: absolute !important;
        }
    
        .gKbhqU {
            justify-content: flex-start !important;
        }
    
        .kVrXuC {
            width: 50%;
            max-width: 50% !important;
        }
    
        .badge {
            font-size: 10px !important;
        }
    padding-top: 1x;
}