.addItem {
    display: flex;

    .addItemContainer {
        flex: 6;

        .addContainer {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;

            .inputContainer {
                -webkit-box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
                -moz-box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
                box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
                border-radius: 10px;
                width: fit-content;

                .title {
                    h1 {
                        color: rgb(188, 79, 188);
                        font-weight: bold;
                        padding-top: 10px;
                    }
                }

                .row1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .outlined-required {
                        width: 200px;
                    }
                }

                .row2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    // .quantity {
                    //     // width: 80px;
                    // }

                    .itemQuantity {
                        width: 220px;
                    }

                    .outlined-required {
                        width: 250px;
                    }
                }

                .row3 {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                .errorMessage {
                    font-size: 10px;
                    color: red;
                }

                .submit {
                    display: flex;
                    justify-content: center;
                    color: rgb(188, 79, 188);
                }

                .btn {
                    padding: 20px;

                    .click {
                        // border-color: purple;
                        border-width: 1px;

                    }
                }
            }
        }
    }
}